<div class="row-fluid">
  <div class="span12">
    <div class="hero-unit">
      <h1>Rails 4.0 Base App</h1>
      <p>
        This is a Rails 4.0 app with a simple user model built for quick scaffolding by <a href="http://markmiyashita.com">Mark Miyashita</a>.
      </p>
    </div>
  </div>
</div>